/*For mobile devices*/
@media screen and (max-width:320px) {
    .conatiner{
        margin-inline: 1rem;
    }
    .works--content{
        grid-template-columns: max-content;
        row-gap: 1rem;
    }
    .services--card{
        padding-block: 1.5rem;
    }
}
/*for Medium Devices*/
@media screen and (max-width:576px){
    .home--container,
    .about--conatiner,
    .works--conatiner,
    .services--conatiner,
    .projects--conatiner,
    .contact--container{
        grid-template-columns: 300px;
        justify-content: center;
    }
    .about--conatiner .button{
        margin: 8.9px 0;
        font-size: 10px;
    }
}
/*min*/
@media screen and (min-width:600px){
    .services--conatiner,
    .projects--conatiner{
        grid-template-columns: repeat(2,1fr);
    }
    .about--img{
        width: 70%;
        height: 70%;
    }
    .contact--container{
        grid-template-columns: 450px;
        padding-left: 5rem;
    }
    
}
@media screen and (min-width:768px){
    .nav--menu{
        width: 55%;
    }
    .home--container,
    .work--conatiner,
    .about--conatiner{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .home--data{
        text-align: center;
    }
    .about--data,:is(.about--data) :is(.section--subtitle,.section--title){
        text-align: initial;
        padding: 0px 30px;
    }
    .about--conatiner{
        display: flex;
        padding: 0px 20px;
    }
   .about--img {
        width: 550px;
        height: 550px;
    }
    .about--data{
        text-align: initial;
        order: 1;
    }
    .contact--container{
       grid-template-columns: 550px;
       padding-left: 10rem;
    }
}
/*Large Device*/
@media screen and (min-width: 1023px){
    .section{
        padding-block: 7rem 2rem;
    }
    .section--subtitle{
        font-size: var(--normal-font-size);
    }
    .nav{
        height: calc(var(--header-height)+1.5rem);
    }
    .nav--close, .nav--toggle{
        display: none;
    }
    .nav--list{
       flex-direction: row;
       column-gap: 4.5rem; 
       padding-top: 15px;
       display: flex;
    }
    .works--conatiner{
        grid-template-columns: 340px 425px;
        column-gap: 10rem;
        padding-bottom: 4rem;
        padding-left: 19rem;
    }
    .works--description{
        margin-bottom: 3rem;
    }
    .works--content{
        column-gap: 8rem;
    }
    .works--group{
        row-gap: 1.5rem;
    }
    .works--item{
        font-size:var(--h3-font-size);
    }

    .about--conatiner{
        grid-template-columns: 550px 460px;
        column-gap: 4.5rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
    }
    .about--description{
        margin-bottom: 3rem;
    }
    .services--conatiner{
        grid-template-columns: repeat(3,450px);
      padding-block: 2.5rem 4rem;
    }
    .services--card{
        padding: 3.5rem 2rem;
    }
    .about--img{
        width: 50%;
    }
    .projects--conatiner{
        padding-left: 25rem;
        grid-template-columns: repeat(3,400px);
        column-gap: 3rem;
        row-gap: 3rem;
        padding-block: 2.5rem 4rem;
    }
    .table{
        margin-bottom: 2rem;
        background-color: var(--container-color);
        padding: 2rem 15rem;
    }
    .head--title ,th,td{
        text-align: center;
    }
    .contact--container{
        grid-template-columns: 680px ;
        padding-block: 2.5rem 2rem;
        padding-left: 20rem;
    }
    .contact--group{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1.5rem;
    }
    .contact--input{
        padding: 1.5rem;
    }
    .contact--form textarea{
        height: 20rem;
    }

    .footer{
        padding-block: 4.5rem 4rem;
    }
    .footer--container{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        padding-block: 2.5rem 2rem;
    }
    .fot{
        font-size: 15px;
    }
    .copyright{
        font-size: medium;
        text-align: center;
    }
    hr{
        border:2px solid white;
    }
}
/**/
/**/
/**/
/**/